.Admin {
    display: grid;
    padding: 20px;
}

.Admin .Title {
    color: cyan;
}

.Admin h1 {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}