html body {
  background: #2f303f;
  color: white;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
}

.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.item {
  padding: 15px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.overlay {
  transition: bottom cubic-bezier(0.77, 0.26, 0.36, 0.93) 0.4s;
  position: absolute;
  bottom: -25%;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  opacity: 0.6;
}

.item:hover .overlay {
  opacity: 0.6;
  bottom: 0px;
}