.Banner {
    position: absolute;
    text-align: center;
    top: -65px;
    left: 0px;
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    padding: 15px 0px 5px 0px;
    animation-fill-mode: forwards;
}

.Banner.Animating {
    animation: Banner ease 3s;
}

.Banner.Success {
    background: rgba(0, 151, 20, 0.6);
}

.Banner.Fail {
    background: rgba(151, 0, 0, 0.6);
}

@keyframes Banner {
    0%, 100% {
        top: -65px;
    }
    15%, 85% {
        top: 0px;
    }
}