.PlayButton {
    box-sizing: border-box;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 75px 0px 75px 150px;
    margin: 10px;
    padding: 0px;
    border-color: transparent transparent transparent rgb(210, 210, 225);
    background: transparent;
    transition: cubic-bezier(.17,.84,.44,1) 0.5s;
    transition-property: width height margin border-width border-color;
}

.PlayButton:hover {
    width: 170px;
    height: 170px;
    margin: 0px;
    border-width: 85px 0px 85px 170px;
    border-color: transparent transparent transparent white;
}