.AdminList {
    background: rgba(0, 0, 0, 0.6);
}

.AdminList .Header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.AdminList h4 {
    text-align: left;
    padding-left: 3%;
}

.AdminList .ViewingCount {
    color: cyan;
    align-self: end;
    justify-self: end;
    padding-right: 0.5em;
}

.AdminList .AddTVShow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 1px solid white;
    border-bottom: none;
    margin-top: 2em;
    cursor: pointer;
    transition: cubic-bezier(0.26, 0.15, 0.46, 1) 0.25s;
    transition-property: border-color color background;
}

.AdminList .AddTVShow:hover {
    border-color: cyan;
    color: cyan;
    background: rgba(39, 58, 82, 0.2);
}

.AdminList .AddTVShow .icon {
    padding-left: 0.5em;
}

.AdminList .TVList {
    border-collapse: collapse;
}

.AdminList .TVList th {
    padding: 1em 1em;
    color: cyan;
}

.AdminList .TVList td {
    padding: 0em 1em;
}

.AdminList .TVList tr:nth-child(odd) {
    background: rgba(39, 58, 82, 0.2);
}

.AdminList .TVList th, .AdminList .TVList td {
    border: 1px solid white;
}

.AdminList .Edit, .AdminList .Delete {
    cursor: pointer;
}

.AdminList .TVList #ToDelete {
    background: red;
}

.AdminList .TVList #ToDelete tr {
    height: 100%;
}

.AdminList .TVList #ToDelete #ConfirmDelete {
    background: white;
    border: 1px solid #000;
}

.AdminList .TVList #ToDelete #ConfirmDelete .DeleteItem  {
    font-weight: 500;
}

.AdminList .TVList #ToDelete #ConfirmDelete #title {
    color: black;
    padding: 0.25em;
    margin-bottom: 0.25em;
    font-weight: 550;
}

.AdminList .TVList #ToDelete #ConfirmDelete button {
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
}

.AdminList .TVList #ToDelete #ConfirmDelete button:active {
    transform: translateY(1px);
  }

.AdminList .TVList #ToDelete #ConfirmDelete button#Delete {
    color: white;
    background: red;
    margin-bottom: 0.5em;
    border-color: rgb(212, 0, 0);
}

.AdminList .TVList #ToDelete #ConfirmDelete button#Delete:hover {
    background: rgb(232, 0, 0);
    border-color: rgb(188, 0, 0);
}

.AdminList .TVList #ToDelete #ConfirmDelete button#Cancel {
    background: white;
    margin-top: 0.25em;
    border-color: rgb(212, 212, 212);
}

.AdminList .TVList #ToDelete #ConfirmDelete button#Cancel:hover {
    background: rgb(238, 238, 238);
    border-color:rgb(192, 192, 192);
}